# =====================
# Editor
# =====================
.vscode/

# =====================
# .NET
# =====================
**/bin/
**/obj/

# =====================
# Frontend (Vite / React)
# =====================
footballSys.frontend/node_modules/
footballSys.frontend/dist/

# =====================
# Environment files
# =====================
.env
.env.local

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

### local notes
report.txt
footballSys.api/Controllers/notes.txt
footballSys.api/Entities/notes
footballSys.api/test-assets/